<!DOCTYPE html>
<html>
  <head>
    <title>Proximos eventos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Proximos eventos:</h1>
    <br>
    <%results.forEach(event=> { %>
    <p> <%= event %></p>
    <%})%>
  </body>
</html>
