<!DOCTYPE html>
<html>
  <head>
    <title>Proximos eventos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Proximos eventos:</h1>
    <br>
   
    <p> <%= result.data.htmlLink %></p>
    <p> <%= result.data.description %></p>
    
   
  </body>
</html>
